<div class="position-relative" style="background-image: url(<%= asset_url('Eventbride.jpeg') %>);">
  <div class="container-fluid text-center">
    <h1 class="display-1 text-white mb-4">Le meilleur de vos évenements</h1>
    <p class="lead text-start mt-5 pt-5 pe-5 text-white">Falsa quaedam et adfectati discentes mitius clandestinos adfectati quam ad avida supra falsa nefandarum temporis pater nihil iunxerat placentia rumigerulos.</p>
  </div>
  <%= link_to "Créer un nouvel événement", new_event_path, class: "btn btn-primary position-absolute bottom-0 end-0 mb-3 me-4 ms-4" %>
</div>  