<%= render 'events/indexbanner' %>
  <div class="mt-1 mb-1 ">
    <h2 class="text-center"> Les dix derniers évenements </h2>
  </div>
<div class="container">
  <div class="row">
    <% @events.each do |event| %>
      <div class="col-md-4">
        <div class="custom-card bg-dark text-white"> <!-- Utilisez votre classe personnalisée -->
          <div class="card-body mt-1 mb-1">
            <h5 class="card-title text-center mb-1"><%= event.title %></h5>
            <p class="card-text mt-2"><%= event.description %></p>
            <a href="<%= event_path(event) %>" class="btn btn-primary btn-sm position-end">Voir plus</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>