<footer class="pb-4 bg-primary-3 m-6 text-light" id="footer">
  <div class="container mt-1">
    <div class="row mb-5 mt-1">
      <div class="col-6 col-lg-3 col-xl-3 mx-auto">
        <h5>À propos de nous</h5>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="#" title="L'équipe de THP">
              Équipe
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" title="Formulaire de contact">
              Contactez-nous
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              Presse
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" title="Les mentions légales de THP">
              Mentions légales
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" title="Nos conditions générales d'utilisation">
              Conditions de participation
            </a>
          </li>
        </ul>
      </div>
      <div class="col-6 col-lg-3 col-xl-2 mx-auto">
        <h5>Liens pratiques</h5>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="#" title="Foire Aux Questions">
              FAQ
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" title="Tarification de nos formations">
              Tarifs
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" title="Villes de THP">
              Nos implantations
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" title="Nos parcours">
              Nos formations
            </a>
          </li>
        </ul>
      </div>
      <div class="col-6 col-lg-3 col-xl-3 mx-auto">
        <h5>Suivez-nous !</h5>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" href="#" target="_blank">
              <i class="ft-twitter"></i>
              Twitter
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" target="_blank">
              <i data-feather="Facebook"></i>Facebook</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" target="_blank">
              <i data-feather="Instagram"></i>
              Instagram
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" target="_blank">
              <i data-feather="linkedin"></i>
              LinkedIn
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" target="_blank">
              <i data-feather="youtube"></i>
              Youtube
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col col-md-auto text-center">
        <small class="text-muted">
          ©️ copirght all right reserved ou pas..
        </small>
      </div>
    </div>
  </div>
</footer>